.parallax__container {
  text-align: left;
  margin-left: 15vw;
  position: relative;
  font-family: "Consolas", "Courier New", monospace;
}

.parallax__container .title-header {
  padding-top: 40vh;
  font-size: 13vw;
  color: white;
}
