.dark-mode {
  background-color: #222;
}

.dark-mode h1 {
  color: white;
}

.dark-mode .top-color {
  color: rgb(200 76 134 / 0.9);
}

.dark-mode .bottom-color {
  color: rgba(100, 194, 200, 0.9);
}

.dark-mode .parallax__container .first-header {
  text-shadow: 0px 0px 15px #222;
}

.dark-mode .App-header {
  background-color: #282c34;
  color: white;
}

.dark-mode .App-link {
  color: #61dafb;
}
